<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Catalog Application</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheet.css') }}">
	</head>
	<body>
		<header>
			<h1>Categories</h1>
			<div class = "topnav">
				<a href="{{url_for('showCategory')}}" style="color: white">Show All Categories</a>
				{%if userLogged == 0%}
					<a id = "Login" href="{{url_for('showLogin')}}" style="color: white">Login</a>
				{%else%}
					<a id = "Logout" href="{{url_for('gdisconnect')}}" style="color: white">Logout</a>
				{%endif%}
				<a href = "{{url_for('newCategory')}}" style="color: white">Add Category</a>
			</div>
		</header>
		<div class = "content">
			<ul class = "category-list">
				{% for category in category %}
					<li>
						<a href = "{{url_for('showMenu', category_id = category.id)}}"><h3>{{category.name}}</h3></a>
						{%if userLogged == 1%}
							<a href = "{{url_for('editCategory', category_id = category.id)}}" style="padding:5px">Edit</a>
							<a href = "{{url_for('deleteCategory', category_id = category.id)}}" style="padding:5px">Delete</a>
						{%endif%}
					</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>